*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body{
  background: #444c53;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  width: 500px;
}

h1{
  text-align: center;
  margin-bottom: 20px;
  color: rgb(213, 213, 236);
}

.card{
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2{
  margin-bottom: 10px;
}

p{
  margin-bottom: 15px;
  font-size: 18px;
}

button{
  padding: 10px 15px;
  border: none;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

button:first-of-type{
  background: green;
}

button:last-of-type{
  background: crimson;
}